:root {
    --rich-black: #021323;
    --azure-white: #D8E7F5;
    --surf-blue: #00BBC9;
    --bright-yellow: #F9A021;
    --orange-yellow: #F8BC1C;
    --charm-pink: #EB7CAE;
    --lavender: #A07DB6;
    --celestial: #478CCC;
}
